<div class="banner">
    <div class="content">
        <h1 class="mb-5">Edison <br/>Cori Esquiche, programador web</h1>
    </div>
</div>
<!-- descripción  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">¿Quién soy? <span class="highlight"></span></h1>
    <div class="row mt-5">
        <!-- uno  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Sobre mí</h1>
                <p>Soy un programador web frontend, que le gusta la tecnología y aprender diversas aplicaciones web.</p>
            </div>
        </div>
<!-- dos -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Programación</h1>
                <p>Me desempeño como programador web fronted, tengo conocimiento en Angular, bootstrap, HTML, CSS y Javascript</p>
            </div>
        </div>
        <!-- tres  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>Motivaciones</h1>
                <p>Me gusta esmerarme en la vida, así como en todo lo que hago, y tengo muchas ganas de trabajar y seguir creciendo</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <h1 class="text-center">Si te interesa <a [ngStyle]="{'color':color}" routerLink="/contacto" href="/contacto"><span class="highlight" >contáctame</span></a></h1>
    
</div>
